<p>
  <strong><%= t('.question') %></strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= render t('.back'), test_path(@question.test) %>
