<nav class="navbar navbar-light bg-light">
  <%= link_to t('.title'), admin_tests_path, class: 'navbar-brand' %>
  
  <span class="navbar-text">
    <div class "nav nav-admin">
      <span class="nav-admin title"><%= t('.panel') %></span>

      <div class="nav-admin user">
        <%= t('.wellcome') %><b class="nav-admin user-email"><%= current_user.email %></b> <%= t('.guru') %> |
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </span>
</nav>
