<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <h2><%= t('.success') %><font color="green"><%= @test_passage.test_result %></font> %</h2>
<% else %>
  <h2><%= t('.fail') %><font color="red"><%= @test_passage.test_result %></font> %</h2>
<% end %>

<%= link_to t('.link'), tests_path %>