<h2><%= t('.header') %></h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>


<%= link_to t('.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.back'), admin_question_answers_path(@answer.question) %>
