<div class="row justify-content-center p-3">
  <div class="container">
    <h1><%= t('.header') %></h1>
    <%= render 'shared/errors', resource: @test %>
    <div class="table">
      <table>
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th class="col-md-3"><%= t('.level') %></th>
          <th class="col-md-3"><%= t('.questions') %></th>
          <th class="col-md-3"><%= t('.actions') %></th>
        </tr>

        <%= render @tests %>
      </table>
    </div>

    <p>
      <%= link_to t('.create'), new_admin_test_path %>
    </p>

    <p>
      <%= link_to 'Gists', admin_gists_path %>
    </p>
  </div>
</div>
