<div class="row justify-content-center p-3">
  <h1><%= t('tests.index.header') %></h1>
  
  <div class="container">
    <div class="table">
      <table>
        <tr>
          <th class="col-md-3"><%= t('.title') %></th>
          <th class="col-md-3"><%= t('.level') %></th>
          <th class="col-md-3"><%= t('.questions') %></th>
          <th class="col-md-3"><%= t('.actions') %></th>
        </tr>

        <%= render @tests %>
      </table>
    </div>
  </div>
</div>
