<p>
  <strong>Title: </strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level: </strong>
  <%= @test.level %>
</p>

<strong>Questions</strong>
<% @test.questions.each do |question| %>
  <p>
    <%= question.body %>
  </p>
<% end %>

<%= link_to 'Edit', edit_test_path(@test) %> | 
<%= link_to 'Back', tests_path %>
