<!DOCTYPE html>
<html>
  <head>
    <title>ТестГ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>

  <footer class="text-center text-lg-start bg-light text-muted">
    Автор проекта: Сытина А.Н.
    <br><p><%= github_url("penicilllia", "test-g") %></p>
    Проект предназначен для: 
    <br>
    <br>- Создания и управления тестами;
    <br>- Аутентификации (разграничение на то, кто какой тест проходит и кто
    <br>  какой тест создает);
    <br>- Создания тестов администраторами;
    <br>- Выполнения тестов пользователями;
    <br>- Публикации результатов в социальных сетях.
    <br><p><a href="http://thinknetica.com">Учебный проект онлайн-школы Thinknetica</a></p>
    <p><%= current_year %></p>
  </footer>
</html>
